<div class="my-slider">
    {% for file in site.static_files %}
    {% if file.path contains '/assets/img/slider/' %}
    <div>
        <img
                src="{{ file.path | relative_url }}"
                alt="{{ file.name }}"
                loading="lazy"
        />
    </div>
    {% endif %}
    {% endfor %}
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        tns({
            container: '.my-slider',
            items: 1,
            slideBy: 'page',
            autoplay: true,
            controls: false,
            nav: true,
            autoplayTimeout: 5000,
            autoplayButtonOutput: false,
            loop: true,
            navPosition: 'bottom',
        });
    });
</script>
