<nav class="navbar navbar-expand-xl navbar-light fixed-top navbar-custom {% if page.nav-short %}top-nav-short-permanent{% else %}top-nav-regular{% endif %}">

    {%- if site.title-img -%}
    <a class="navbar-brand navbar-brand-logo" href="{{ '/' | absolute_url }}"><img alt="{{ site.title }} Logo" src="{{ site.title-img | relative_url}}"/></a>
    {%- elsif site.title -%}
    <a class="navbar-brand" href="{{ '/' | absolute_url }}">{{ site.title }}</a>
    {%- endif -%}

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="navbar-nav ml-auto">

            {% assign pages_list = site.pages | where_exp: "page", "page.path contains '_pages'" | where_exp: "page", "page.menu-order >= 0" | sort: "menu-order" %}
            {% for page in pages_list %}
            <li class="nav-item">
                <a class="nav-link" href="{{ page.url }}">
                    {{ page.title }}
                    {%- if page.show-badge -%}
                    <sup> 🔴</sup>
                    {%- endif -%}
                </a>
            </li>
            {% endfor %}

            <!-- Mobile: Quicklinks zu Startseiten-Ankern -->
            <li class="nav-item d-xl-none">
                <a class="nav-link" href="/#hours">Öffnungszeiten</a>
            </li>
            <li class="nav-item d-xl-none">
                <a class="nav-link" href="/#calendar">Kalender</a>
            </li>

        </ul>
    </div>

    {% if site.avatar and page.show-avatar != false %}
    <div class="avatar-container">
        <div class="avatar-img-border">
            <a href="{{ '/' | absolute_url }}">
                <img alt="Navigation bar avatar" class="avatar-img" src="{{ site.avatar | relative_url }}" />
            </a>
        </div>
    </div>
    {% endif %}

</nav>

{% include search.html %}
