.navbar-custom {
    background-color: #DAEFB4 !important;
}

.intro-header .page-heading h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

header .container-md {
  padding-bottom: 10px; /* Footer height */
}

.container-md {
  padding-bottom: 50px; /* Footer height */
}

/* Sticky footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #DAEFB4;
  padding: 0;
}

footer p {
  margin: 0;
}
