---
layout: default
---

<div class="container-xl">
  <div class="open-places-banner" role="region" aria-label="Hinweis offene Kita-Plätze">
    <span class="text">Wir haben aktuell freie Kita-Plätze. Jetzt für einen Platz bewerben!</span>
    <a class="btn btn-apply" href="mailto:leitung@knirpsenstadt.de?subject=Bewerbung%20Kita-Platz">Jetzt bewerben</a>
  </div>
	<div class="row">
		<div class="col-xl-8 col-lg-8">
			{% include carousel.html %}
			<div id="startpage">
				{{ content }}
			</div>
		</div>

		<!-- Desktop/Tablet Sidebar rechts -->
		<aside class="col-xl-4 col-lg-4 d-none d-lg-block home-aside">
			{% include start-aside.html %}
		</aside>

		<!-- Mobil: Sidebar am Seitenende -->
		<div class="col-12 d-lg-none">
			<aside class="home-aside">
				{% include start-aside.html %}
			</aside>
		</div>
	</div>
  
</div>
